@import "config";

%alert {
    position: absolute;
    top: 10%;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    font-weight: bold;
    font-size: $alert-font-size;
}


/* From Stackoverflow: https://stackoverflow.com/questions/43720936/how-to-create-blinking-text-with-css-only */
#submit-alert {
  @extend %alert;
  color: #201E50
}

#zero-alert {
  @extend %alert;
  color: #DD7373
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2
  }

  100% {
    opacity: 1;
  }
}