$primary-text-color: #E0CBA8;
$submit-text-color: #201E50;
$outcome-text-color:#DD7373;
$player-text-color: #0D1F2D;
$dealer-text-color: #B9A44C;
$primary-color: #35654d;
$secondary-color: #0D1F2D;
$alert-font-size: 20px;
$button-focus-color: #37424b;
$bet-focus-color: #f8fa76;