@import "btnConfig";
@import "utilities";
@import "config";
@import "alertconfig";


body {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    div {
        margin: auto;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vh;
    height: 90vh;
}

.deck-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dealer-cards, .player-cards {
    position: relative;
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dealer-cards{
    margin-bottom: 0em;
}
.player-cards{
    margin-top: 0em;
}

body {
    background-color: $primary-color ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.deal, .hit, .stand, .newround {
    padding-left: 3em;
    padding-right: 3em;
}

.outcome, .player-details {
    position: relative;
    width: 23%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .player-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $primary-text-color;
} 

.player-total, .player-currency, .player-bet {
    display: flex;
    width: 80%;
    height: 20%;
    justify-content: end;
    @include set-font-color(lighten($player-text-color, 80%));
}


.hand-outcome {
    width: 90%;
}


.bet-div {
    min-width: 40%;
    max-height: fit-content;
    display: flex;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    justify-content: center;
    margin-bottom: 0em;
    color: $primary-text-color;
}

#form, #betform {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.outcome-text {
    font-size: $alert-font-size;
    font-weight: bold;
    @include set-font-color($outcome-text-color);
    text-align: center;
}

.dealer-text, .player-text {
    width: fit-content;
    @include set-font-color($primary-text-color);
}