div {
    border: 5px solid rgb(128, 0, 109);
    margin: 1em;
    text-align: center;
}

.button-div {
    width: 50vh;
    display: flex;
    justify-content: space-between;
}

.player, .dealer, .button {
    flex: auto;
}

body {
    background-color: #35654d ;
    display: flex;
    justify-content: center;
}
