div {
    border: 5px solid rgb(128, 0, 109);
    margin: 1em;
    text-align: center;
}

.player, .dealer, .button {
    flex: auto;
}

body {
    background-color: #35654d ;
    display: flex;
    justify-content: center;
}

.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}